<template id="message-template">
  <li class="<%= style.li.css_class %>"
      data-sent-by-self="<%= style.li.data.sent_by_self %>"
      data-sent-by-other="<%= style.li.data.sent_by_other %>">
    <div class="<%= style.container.css_class %>"
         data-sent-by-self="<%= style.container.data.sent_by_self %>"
         data-sent-by-other="<%= style.container.data.sent_by_other %>">
      <p></p>
      <span class="<%= style.span.css_class %>"></span>
    </div>
  </li>
</template>
<ul id="message-list" class="flex flex-col mb-4 container max-w-screen-lg">
  <% messages.each do |message| %>
    <li class="<%= style.li.css_class %> <%= sent_by_self?(message) ? style.li.data.sent_by_self : style.li.data.sent_by_other %>">
      <div class="<%= "bg-#{message.user.color}" %> <%= style.container.css_class %> <%= sent_by_self?(message) ? style.container.data.sent_by_self : style.container.data.sent_by_other %>">
        <p><%= message.text %></p>
        <span class="<%= style.span.css_class %>"><%= message.sent_by %></span>
      </div>
    </li>
  <% end %>
</ul>